body {
  background-color: #031f33;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #031f33;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin-top: -160px;
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  
}

.login-form .form-group label {
  color: #000000;
}

.login-form .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* Estilos para el botón de inicio de sesión */
.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* Estilos para el enlace de registro */
.register-link {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

.registration-link {
  color: #86ff2e;
}

/* Cambiar el color de fondo del botón */
.btn-primary {
  background-color: #86ff2e;
  border-color: #000000; /* Cambia el color del borde*/
}

/* Cambiar el color del texto del botón */
.btn-primary {
  color: #000000;
}

h2{
  color: #000000;
  text-align: center;
}

.login-form .form-group.password-label {
  margin-bottom: 10px;
}
