<div class="card-container">
  <div class="table-container">
    <table class="category-table">
      <ng-container *ngFor="let category of categories">
        <!-- Verificar si la categoria tiene un gasto asociado -->
        <ng-container *ngIf="categoryHasExpenses(category.id)">
          <tr>
            <td colspan="2">
              <!-- Muestra el gasto tatal de la categoria especifica y si no hay ningun gasto registrado para esa categoria es decir categoryTotalExpenses[category.name] 
                es nulo o indefinido, se mostrara "0" como valor por defecto -->
              <button (click)="toggleCategory(category.id)" class="category-name">{{ category.name }} ${{
                categoryTotalExpenses[category.name] || 0 }}</button>
            </td>
          </tr>
          <tr *ngIf="expandedCategories[category.id]">
            <td colspan="2">
              <table class="expenses-table">
                <tr>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
                <tr *ngFor="let expense of categoryExpensesMap[category.id]" class="expense-row">
                  <td>{{ expense.description }}</td>
                  <td>${{ expense.amount }}</td>
                  <td>{{ expense.date }}</td>
                  <td><button (click)="deleteExpense(expense.id)" class="delete-button">Eliminar</button></td>
                </tr>
              </table>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
</div>