
.card-container{
 display: flex;
 flex-direction: column;
}
.card {
  width: 80%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #ffffff;
  color: #EEE;
  }
  
  .card:hover {
    transform: translateY(-5px);
    background-color: #86ff2e;
  }
  
  .card-title {
    text-align: center;
  }
  
  .card-title button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
  }
  
  .card-details {
    background-color: #ffffff;
    color: #000000;
    font-family: sans-serif;
  }
  
  .card.expanded .card-details {
    display: block;
  }
  
  .expense-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .expense-item, .expense-price, .expense-date {
    display: flex;

  }
  
  .left {
    flex: 1;
    text-align: left;
  }
  
  .right {
    flex: 1;
    text-align: right;
  }
  
  .card-subtitle {
    font-family: sans-serif;
    font-size: 15px;
  }
  
/* Agregar estilos al botón "Eliminar" */
.delete-button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff3333;
}
/*Graficos*/
.conteiner{
  width: 1000px; /* Ancho deseado */
  height: 500px; /* Altura deseada */
}