.container {
  padding: 15px;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
}

.category-table {
  width: 80%;
  border: none;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
}

.category-table .category-name {
  background-color: #f0f0f0;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.category-table .category-name:hover {
  background-color: #86ff2e;
}

.expenses-table {
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: collapse; /* Combina los bordes de las celdas */
  border: none; /* Elimina los bordes externos de la tabla */
}

.expenses-table th,
.expenses-table td {
  border: none;
  padding: 12px;
}

.expenses-table th {
  background-color: #f0f0f0;
  text-align: left;
}

.expense-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.delete-button {
  background-color: #ff4136;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f;
}


.category-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.category-name .category-name-text {
  text-align: left;
  margin-left: 60px;
}

.category-name .category-total {
  text-align: right;
  margin-right: 60px;
  color: #ff0000; 
}

