footer {
    background-color: #24405596;
    color: #fff;
    padding: 0;
  }
  
  footer .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer .col-md-12 {
    text-align: center;
  }
  
  footer .footer-icons {
    margin: 0 10px;
  }
  
  footer p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  footer .copyright {
    font-size: 14px;
  }
  